<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Movie List</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Movie List</h1>
    <a href="/movies/form">Novo</a>
    <table>
        <thead>
        <tr>
            <th>NAME</th>
            <th>DURATION</th>
            <th>YEAR</th>
            <th>GENRE</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.name}"></td>
            <td th:text="${movie.duration}"></td>
            <td th:text="${movie.year}"></td>
            <td th:text="${movie.genre}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>